#!/usr/bin/env bash

# useful paths that are required by the bin scripts

export REPO_ROOT_DIR=$(realpath .)
export ENV_FILE=$(realpath ./.env)

# source .env file to setup versions of various components
dotenv ./.env

# add our bin scripts to the path
PATH_add ./docker-utils/bin/